<mat-toolbar color="primary">
    <button class="nav-toggler" mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="logo" routerLink="/">Fitness Tracker</a>
    <ul class="menu-links">
        <li *ngIf="!(isAuth$ | async)"><a mat-button routerLink="/signup">Signup</a></li>
        <li *ngIf="!(isAuth$ | async)"><a mat-button routerLink="/login">Login</a></li>
        <li *ngIf="isAuth$ | async"><a mat-button routerLink="/training">Training</a></li>
        <li *ngIf="isAuth$ | async"><button mat-button (click)="onLogout()">Logout</button></li>
    </ul>
</mat-toolbar>
