mat-sidenav,
mat-sidenav-container,
mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    padding: 10px 20px;;
}

.menu-links {
    list-style-type: none;
    padding: 0;
    margin-left: auto;

    display: none;
}

li {
    display: inline-block;
}

a {
    color: #FFF;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .menu-links {
        display: block;
    }

    .nav-toggler {
        display: none;
    }
}