<h1>Welcome on your Fitness Tracker !</h1>
<div class="welcome">
    <mat-card>
        <mat-card-title><h2>Activity</h2></mat-card-title>
        <mat-card-content>
            <p>Stay active and enjoy health and more fun!</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title><h2>Community</h2></mat-card-title>
        <mat-card-content>
            <p>Get to know other people who share your passion!</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title><h2>Challenges</h2></mat-card-title>
        <mat-card-content>
            <p>Never stop! Dive into new challenges every day!</p>
        </mat-card-content>
    </mat-card>
</div>