.welcome {
    text-align: center;
}

h1 {
    font-size: 1.8em;
    text-align: center;    
}

h2 {
    font-size: 1.1em;    
    text-transform: uppercase;
}

mat-card {
    margin: 10px 0;
} 

@media screen and (min-width: 960px) {
    .welcome {
        display: flex;        
        flex-direction: row;
        justify-content: center;
    }

    mat-card {
        margin: 0 10px;
    } 
}